<ng-container *ngIf="!isLogged">
  <div class="box">
    <img class="image" src="assets/login.jpg">
    <div class="cont">
      <h1>Log in</h1>
      <div>
        <label for="username">
          Username
        </label>
        <input id="username" type="text" placeholder="Username" [(ngModel)]="username">
      </div>

      <div>
        <label for="password">
          Password
        </label>
        <input id="password" type="password" placeholder="Password" [(ngModel)]="password">
      </div>
      <button class="button" type="submit" (click)="login()">Login</button>
      <p>Don't have any account? <a [routerLink]="['/register']">Click here</a></p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isLogged">
  <h1>Welcome</h1>
  <fieldset>
    <label>Movie name: </label>
    <input [(ngModel)]="name" type="text">
    <label>Movie description: </label>
    <input [(ngModel)]="description" type="text">
    <label>Movie rate: </label>
    <input [(ngModel)]="rate" type="text">
    <label>Movie length: </label>
    <input [(ngModel)]="length" type="text">
    <label>Movie like number: </label>
    <input [(ngModel)]="like" type="number">
    <label>Movie img: </label>
    <input [(ngModel)]="img" type="text">
    <label>Movie imgCover: </label>
    <input [(ngModel)]="imgCover" type="text">
    <label>Movie genre: </label>
    <input [(ngModel)]="genre" type="text">
    <button (click)="addMovie()"> Add movie</button>
  </fieldset>
</ng-container>
